@charset "UTF-8";
.app {

}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-both {
  clear: both;
}

.dis-none {
  display: none;
}

.dis-none-imp {
  display: none !important;
}

.dis-block {
  display: block;
}

.dis-block-imp {
  display: block !important;
}

.dis-inline {
  display: inline;
}

.dis-inline-imp {
  display: inline !important;
}

.dis-ib {
  display: inline-block;
}

.dis-ib-imp {
  display: inline-block !important;
}

.dis-table {
  display: table;
}

.dis-cell {
  display: table-cell;
}

.pseudo-clear:after {
  clear: both;
  display: block;
  content: '';
}

.pseudo-clear:before {
  clear: both;
  display: block;
  content: '';
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pos-rl {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.underline {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-left-imp {
  text-align: left !important;
}

.val-middle {
  vertical-align: middle;
}

.val-top {
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}

.lh100per {
  line-height: 100%;
}

.all-border-box * {
  box-sizing: border-box;
}

.confirm-btn-mg {
  margin-right: 14px;
}

.align-middle-imp {
  vertical-align: middle !important;
}

.text-right-imp {
  text-align: right !important;
}

.text-left-imp {
  text-align: left !important;
}

.cm-a {
  color: #6d6dfe;
}

/*margin*/
.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt23 {
  margin-top: 23px;
}

.mt27 {
  margin-top: 27px;
}

.mr28 {
  margin-right: 28px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml10 {
  margin-left: 10px;
}

.ml28 {
  margin-left: 28px;
}

/*margin end*/

/*width*/
.w50per {
  width: 50%;
}

/*width end*/

/*padding*/
.pr19 {
  padding-right: 19px;
}

.pr28 {
  padding-right: 28px;
}

.pb18 {
  padding-bottom: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl28 {
  padding-left: 28px;
}

.pl52 {
  padding-left: 52px;
}

/*padding end*/

/*border*/
.bordTB6 {
  border-top: 6px solid #EFEEF5;
  border-bottom: 6px solid #EFEEF5;
}

/*border end*/

/*公共*/
@mixin mix-img100per {
  img {
    max-width: 100%;
  }
}

.img100per {
  img {
    min-width: 100%;
  }
}

.jpm-main {
  padding: 21px;
}

.jpm-spacer {
  width: 100%;
  height: 6px;
  background: #EFEEF5;
}

.jhm-spacer {
  @extend .jpm-spacer
}

.jhm-article-cnt {
  text-indent: 2em;
  font-size: 14px;
  color: #666;
  word-break: break-all;
  overflow: hidden;
  &.px16 {
    font-size: 16px;
  }
  img {
    display: block;
  }
  @include mix-img100per;
}

.h-btn-primary {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: #55ABEE;
  height: 47px;
  line-height: 47px;
  text-align: center;
}

.header-bg-type01 {
  width: 100%;
  height: 106px;
}

.weui-dialog {
  border-radius: 8px;
}

.weui-dialog__hd {
  padding-top: 18px;
  padding-bottom: 24px;
}

.weui-dialog__bd {
  text-align: left;
  font-size: 16px;
  color: #333;
  padding-bottom: 24px;
}

.weui-dialog__title {
  font-size: 18px;
  color: #333;
}

.weui-dialog__btn_primary {
  font-size: 16px;
  color: #333;
}

.jic-weui-dialog-val {
  color: #5E8CF8;
}

/*公共 end*/

/*公共组件*/
//纸
.HPaper {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(148, 174, 218, 1);
  padding-bottom: 27px;
}

.HPaper-head-transition {
  width: 100%;
  height: 20px;
  background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(197, 225, 244, 1) 100%);
}

.HPaper-head-handle {
  position: absolute;
  width: calc(100% + 12px);
  height: 5px;
  top: -5px;
  left: -6px;
  background: #306CCA;
  border-radius: 3px;
}

.HPaper-foot {
  position: absolute;
  bottom: -6.5px;
  height: 6.5px;
  font-size: 0;
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 6.5px;
  }
}

//checklist
.HChecklist {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-right: 2px;
  padding-bottom: 11px;
  padding-left: 7px;
  border-bottom: 1px solid #DDD;
  .vux-check-icon > .weui-icon-success-circle:before,
  .vux-check-icon > .weui-icon-success:before {
    color: #5E8CF8;
  }
  &.sucesss {
    .vux-check-icon > .weui-icon-success-circle:before,
    .vux-check-icon > .weui-icon-success:before {
      color: #09bb07;
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    .HChecklist-cnt {
      margin-left: 0;
    }
    .vux-check-icon {
      margin-left: 10px;
    }
  }
  [class*=" weui-icon-"]:before {
    margin-left: 0;
    margin-right: 0;
  }
}

.HChecklist-cnt {
  flex-grow: 1;
  color: #333;
  font-size: 14px;
  margin-left: 19px;
}

//按钮
.HButton {
  background: #5E8CF8;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
}

/*公共组件 end*/

/*缴费首页*/
.PaymentHome {
  .header-bg-type01 {
    position: absolute;
    z-index: -1;
    top: 0;
  }

}

.PaymentHome-main {
  margin-top: 26px;
  padding-left: 18px;
  padding-right: 18px;
}

.PaymentHome-cnt {
  text-align: center;
  img {
    margin-top: 46px;
    width: 190px;
    height: 162px;
  }
}

.PaymentHome-cnt-prompt {
  color: #666;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 14px;
  margin-bottom: 21px;
}

.Payment-button {
  width: 140px;
  height: 30px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  background: #5E8CF8;
  border-radius: 20px
}

.PaymentHome-checklist {
  margin-top: 36px;
  padding-right: 13px;
  padding-left: 13px;
  .weui-cell__bd {
    color: #333;
    font-size: 14px;
  }
  .weui-cells_checkbox {
    .weui-check:checked + .vux-checklist-icon-checked:before {
      color: #5E8CF8;
    }
    .weui-check:checked + .weui-icon-checked:before {
      color: #5E8CF8;
    }
  }
}

.Payment-checklist {
  .weui-cell__bd {
    color: #333;
    font-size: 14px;
  }
  .weui-cells_checkbox {
    .weui-check:checked + .vux-checklist-icon-checked:before {
      color: #5E8CF8;
    }
    .weui-check:checked + .weui-icon-checked:before {
      color: #5E8CF8;
    }
  }
  .weui-cells:after,
  .weui-cells:before,
  .weui-cell:before {
    display: none;
  }
  .weui-cell {
    border-bottom: 1px solid #DDD;
    padding: 18px 9px 11px 9px;
  }
}

.PaymentHome-btn-par {
  margin-top: 98px;
  text-align: center;
  .HButton {
    font-size: 14px;
  }
}

/*缴费首页 end*/

/*缴费步骤2*/
.PaymentDetail {
  min-height: 100vh;
  background: #efeef5;
}

.PaymentDetail-head {
  display: flex;
  align-items: center;
  height: 86px;
  border-bottom: 6px solid #EFEEF5;
  background: #fff;
  img {
    width: 40px;
    height: 40px;
    margin-left: 36px;
  }
  p {
    color: #333;
    font-size: 20px;
    margin-left: 28px;
  }
}

.PaymentDetail-address {
  padding-top: 23px;
  padding-left: 18px;
  padding-right: 18px;
  background: url('~@/assets/img/detail-top-bg@2x.png');
  background-size: 100% 106px;
  background-repeat: no-repeat;
  min-height: 175px;
}

.PaymentDetail-cnt {
  padding-top: 18px;
  padding-left: 12px;
  padding-right: 12px;
  .title {
    font-weight: 600;
    color: #383838;
    font-size: 18px;
  }
  .name {
    font-size: 16px;
    color: #999;
    margin-right: 19px;
    flex-shrink: 0;
  }
  .val {

  }

}

.PaymentDetail-checklist {
  padding-top: 22px;
  .weui-cell {
    padding-right: 1px;
    padding-left: 0;
  }
  .HChecklist {
    align-items: flex-start;
  }
}

.PaymentDetail-footer {
  position: fixed;
  display: flex;
  align-items: stretch;
  bottom: 0;
  width: 100%;
  height: 54px;
}

.PaymentDetail-footer-total {
  flex-grow: 1;
  background: #EFEEF5;
  border-top: 1px solid #D7D7D7;
  padding-top: 14px;
  text-align: center;
  &-word {
    color: #666;
    font-size: 14px;
  }
  &-money {
    color: #5E8CF8;
    font-size: 24px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.PaymentDetail-footer-btn {
  width: 142px;
  flex-shrink: 0;
  background: #5E8CF8;
  color: #fff;
  font-size: 20px;
}

.PaymentDetail-checklist-cnt {
}

.PaymentDetail-checklist-cnt-total {
  display: flex;
  justify-content: space-between;
  & > .name {
    font-size: 16px;
    color: #333;
  }
  & > .val {
    font-size: 16px;
    color: #5e8cf8;
  }
}

.PaymentDetail-checklist-cnt-item-par {
  padding-top: 4px;
}

.PaymentDetail-checklist-cnt-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

/*缴费步骤2 end*/

/*支付渠道*/

.PaymentChannel-head {
  display: flex;
  align-items: center;
  border-bottom: 6px solid #EFEEF5;
  height: 76px;
  img {
    width: 40px;
    height: 40px;
    margin-left: 36px;
  }
}

.PaymentChannel-prompt {
  margin-left: 8px;
  font-size: 20px;
  color: #333;
}

.PaymentChannel-money {
  color: #5E8CF8;
  font-size: 30px;
  line-height: 24px;
}

.PaymentChannel-moneyUnit {
  margin-left: 9px;
  color: #333;
  font-size: 14px;
}

.PaymentChannel-checklist {
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
  .HChecklist {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.PaymentChannel-checklist-head {
  font-size: 17px;
  color: #999;
  padding-left: 11px;
}

.PaymentChannel-checklist-cnt {
  display: flex;
  .iconfont {
    font-size: 24px;
    color: #00C802;
  }
  p {
    margin-left: 30px;
    font-size: 18px;
    color: #666;
  }
}

.PaymentChannel-btn-par {
  margin-top: 53px;
  text-align: center;
}

.PaymentChannel-cnt {
  padding-right: 12px;
  padding-left: 12px;
}

.PaymentChannel-cnt-item {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-right: 2px;
  padding-bottom: 17px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
  .name {
    flex-shrink: 0;
    font-size: 14px;
    color: #999;
    margin-right: 10px;
  }
  .money {
    font-size: 24px;
    color: #5E8CF8;
  }
  .val {
    font-size: 12px;
    color: #333;
    line-height: 25px;
  }
}

.PaymentChannel-cnt-item-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .val {

  }
}

/*支付渠道 end*/

/*支付成功*/

.PaymentSucess-head {
  height: 293px;
  background: url('~@/assets/img/payment-success.png') no-repeat;
  background-size: 100% 236px;
  border-bottom: 6px solid #EFEEF5;
}

.PaymentSucess-head-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  text-align: center;
  color: #fff;
  .iconfont {
    font-size: 30px;
    margin-right: 18px;
  }
  p {
    font-size: 22px;
  }
}

.PaymentSucess-items {
  padding-right: 13px;
  padding-left: 13px;
}

.PaymentSucess-btn-par {
  margin-top: 30px;
  text-align: center;
}

/*支付成功 end*/

/*缴费历史*/
.PaymentHistoryList {
  .vux-tab {
    .vux-tab-item.vux-tab-selected {
      color: #5E8CF8;
      border-bottom: 2px solid #5E8CF8;
    }
  }
  .vux-tab-bar-inner {
    background: #5E8CF8;
  }
}

.PaymentHistoryList-tab {
  border-bottom: 6px solid #EFEEF5;
}

.PaymentHistoryList-main {
  padding-right: 13px;
  padding-left: 13px;
}

.PaymentHistoryList-query {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.PaymentHistoryList-query-item {
  display: flex;
  align-items: center;
  float: right;
  color: #666;
  font-size: 12px;
  .icon-rili {
    font-size: 18px;
    color: #3778FF;
  }
  .icon-jiantou9 {
    font-size: 12px;
    color: #666;
    &::before {
      display: inline-block;
      transform: scaleX(.6);
    }
  }
  span {
    margin-left: 6px;
    margin-right: 4px;
  }
}

.PaymentHistoryList-body {
  margin-top: 14px;
}

.PaymentHistoryList-item {
  padding: 12px 6px;
  border-bottom: 1px solid #ddd;
  &:first-child {
    border-top: 1px solid #ddd;
  }
}

.PaymentHistoryList-item-money {
  line-height: 37px;
  color: #5E8CF8;
  font-size: 26px;
  span {
    color: #999;
    font-size: 14px;
    margin-left: 10px;
  }
}

.PaymentHistoryList-item-common {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
}

.PaymentHistoryList-item-common-name {
  margin-right: 8px;
}

.PaymentHistoryList-item-common-val {

}

/*缴费历史 end*/

/*信息上墙*/

.InformationWallList-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 13px;
  padding-left: 34px;
  width: 100%;
  height: 77px;
  background: url('~@/assets/img/detail-top-bg@2x.png');
  background-size: 100% 77px;
}

.InformationWallList-head-title {
  font-size: 20px;
  color: #fff;
}

.InformationWallList-head-btn {
  width: 109px;
  height: 26px;
  background: #fff;
  color: #3582FF;
  font-size: 16px;
  border-radius: 13px;
}

.InformationWallList-cnt {
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

.InformationWallList-item {
  display: flex;
  padding-top: 19px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.InformationWallList-item-portrait {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}

.InformationWallList-item-cnt {
  flex-grow: 1;
  padding-right: 13px;
}

.InformationWallList-item-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  .name {
    color: #333;
    font-size: 14px;
  }
  .time {
    color: #999;
    font-size: 12px;
  }
}

.InformationWallList-item-inf {
  color: #333;
  font-size: 14px;
  text-indent: 2em;
  line-height: 20px;
  word-break: break-all;
}

.InformationWallList-item-img {
  max-width: 100%;
  margin-top: 14px;
}

.InformationWallList-item-btm {
  width: 100%;
  margin-top: 10px;
  text-align: right;
  .iconfont {
    margin-right: 6px;
    color: #5E8CF8;
    font-size: 14px;
  }
  .count {
    color: #999;
    font-size: 12px;
  }
}

/*信息上墙 end*/

/*信息上墙-发布*/

.InformationWallForm-btn-par {
  margin-top: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

.InformationWallForm-img-par {
  display: flex;
  flex-wrap: wrap;
}

.InformationWallForm-preshow {
  position: relative;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  justify-content: space-between;
  img {
    width: 100%;
    height: 100%;
  }
  .del {
    font-size: 18px;
    position: absolute;
    color: #333;
    right: -6px;
    top: -6px;
    background: #fff;
    border-radius: 100%;
  }
}

/*信息上墙-发布 end*/

/*通知列表*/

.Notice-list {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  .HNotice-item {
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }
  .HNotice-btm {
    // padding-left: 37px;
    // padding-right: 29px;
  }
}

/*通知列表 end*/

/*问卷调查列表*/
.QuestionnaireList {
  margin-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

.QuestionnaireList-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid #ddd;
}

.QuestionnaireList-item-portrait {
  flex-shrink: 0;
  width: 26px;
  height: 20px;
  margin-right: 10px;
}

.QuestionnaireList-item-cnt {
  word-break: break-all;
  font-size: 16px;
  color: #333;
}

/*问卷调查列表 end*/

/*问卷调查详情*/

.QuestionnaireDetail {
  min-height: 100vh;
  background: #f0f2f5;
}

.QuestionnaireDetail-top-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 106px;
}

.QuestionnaireDetail-paper {
  padding-top: 26px;
  padding-right: 18px;
  padding-left: 18px;
}

.QuestionnaireDetail-paper-cnt {
  text-align: center;
  .title {
    display: inline-block;
    width: 178px;
    height: 28px;
    color: #479FE3;
    border-bottom: 1px solid #479FE3;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .cnt {
    padding-right: 23px;
    padding-left: 23px;
    text-indent: 2em;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
  }
}

.QuestionnaireDetail-cnt {
  margin-top: 14px;
  padding-right: 34px;
  padding-left: 34px;
  .HTextarea-ta {
    height: 62px;
    border-radius: 3px;
  }
}

.QuestionnaireDetail-question-item {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #EDEDED;
  ol {
    padding-left: 14px;
  }
}

.QuestionnaireDetail-question-item-title {
  font-size: 14px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  .iconfont {
    font-size: 14px;
    color: #479FE3;
  }
}

.QuestionnaireDetail-btn-par {
  margin-top: 35px;
  padding-right: 16px;
  padding-left: 16px;
}

/*问卷调查详情 end*/

/*个人信息*/
.PersonalInformation {

}

.PersonalInformation-topbg {
  width: 100%;
  height: 126px;
}

.PersonalInformation-head {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: -45px;
  padding-left: 18px;
  background: #fff;
  text-align: center;
  margin-bottom: 14px;
}

.PersonalInformation-head-cnt {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  flex-grow: 1;
  padding-right: 23px;
  align-content: space-between;
}

.PersonalInformation-head-portrait {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.PersonalInformation-head-name {
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: #fff;
  padding-top: 14px;
}

.PersonalInformation-head-cnt-opts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.PersonalInformation-head-cnt-opts-cnt {
  font-size: 14px;
  color: #666;
  margin-left: 4px;
}

.PersonalInformation-head-cnt-opts-notice {
  .iconfont {
    color: #669DFD;
  }
}

.PersonalInformation-head-cnt-opts-gap {
  width: 1px;
  height: 16px;
  background: #D2D2D2;
}

.PersonalInformation-head-cnt-opts-payment {
  .iconfont {
    color: #F66A30;
  }
}

.PersonalInformation-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;
}

.PersonalInformation-item-portrait {
  img {
    width: 30px;
    height: 30px;
  }
}

.PersonalInformation-item-cnt {
  padding-left: 18px;
  & > .title {
    color: #333;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 2px;
  }
  & > .introduction {
    color: #999;
    font-size: 14px;
  }
}

/*个人信息 end*/

/*家庭成员*/

.FamilyMemberList {
  padding-top: 13px;
}

.FamilyMemberList-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 19px;
  margin-left: 19px;
  border-bottom: 1px solid #DFDBDB;
  padding-left: 4px;
  padding-right: 13px;
}

.FamilyMemberList-cnt-inf {
  img {
    width: 20px;
    height: 23px;
    margin-right: 13px;
  }
  .name {
    margin-right: 34px;
    color: #282727;
    font-size: 18px;
  }
  .tel {
    color: #666;
    font-size: 14px;
  }
}

.FamilyMemberList-cnt-type {
  color: #FF0000;
  font-size: 14px;
}

/*家庭成员 end*/

/*我的小区列表*/

.MyCommunityList-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 34px;
  padding-left: 32px;
  height: 50px;
  background: #fff;
  &.active {
    background: #E6EDFF;
    .MyCommunityList-item-icon {
      color: #537CDB;
    }
  }
}

.MyCommunityList-item-cnt {
  font-size: 18px;
  color: #333232;
}

.MyCommunityList-item-icon {
  font-size: 30px;
  color: #C0C0C0;

}

.MyCommunityList-add {
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  line-height: 50px;
  color: #5884E9;
  font-size: 16px;
  text-align: center;
  .iconfont {
    font-size: 14px;
    margin-right: 8px;
  }
}

/*我的小区列表 end*/

/*我的小区详情*/

.MyCommunityDetail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #EBEAEA;
  padding-right: 17px;
  padding-left: 16px;
}

.MyCommunityDetail-head-cnt {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333232;
  white-space: nowrap;
  overflow: hidden;
  .iconfont {
    color: #537CDB;
    font-size: 28px;
    margin-right: 4px;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.MyCommunityDetail-head-opt {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: #5884E9;
  font-size: 16px;
  .iconfont {
    font-size: 23px;
    margin-right: 2px;
  }
}

.MyCommunityDetail-cnt {
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

/*我的小区详情 end*/

/*小区列表*/

.CommunityList-head {
  display: flex;
  align-items: center;
  height: 50px;
  background: #fff;
  color: #5884E9;
  font-size: 18px;
  padding-left: 20px;
  .iconfont {
    font-size: 28px;
    margin-right: 4px;
  }
}

.CommunityList-cnt {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;
}

/*小区列表 end*/

/*楼栋选择*/

.BuildingList-head {
  height: 50px;
  line-height: 50px;
  background: #EBEAEA;
  padding-left: 22px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  .iconfont {
    font-size: 22px;
    color: #537CDB;
    margin-right: 4px;
  }
}

.BuildingList-cnt {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;
}

.BuildingList {
  padding-right: 20px;
  padding-left: 20px;
}

.BuildingList-item {
  padding: 16px 12px;
  border-bottom: 1px solid #E4E3E6;
  font-size: 16px;
  color: #333232;
}

/*楼栋选择 end*/

/*绑定用户-选择*/

.BindUserChoose-cnt {
  height: calc(100vh - 50px);
  background: #F8F8F8;
}

.BindUser-btm {
  margin-top: 43px;
  text-align: center;
}

/*绑定用户-选择 end*/

/*绑定用户*/
.BindUser-cnt {
  background: #fff;
  padding: 20px;
}

.BindUser-valid-head {
  display: flex;
  align-items: center;
  color: #333232;
  font-size: 16px;
  margin-bottom: 20px;
  .iconfont {
    font-size: 20px;
    color: #5E8CF8;
    margin-right: 2px;
  }
}

.BindUser-valid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 15px 8px;
  .name {
    flex-shrink: 0;
    font-size: 16px;
    color: #C4C4C4;
  }
  .val {
    text-align: right;
    font-size: 16px;
    color: #333;
    .iconfont {
      color: #5E8CF8;
    }
  }
  .multVal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .BindUser-valid-item-ipt {
      width: 64px;
      margin-left: 2px;
      margin-right: 2px;
      text-align: left;
    }
  }
}

.BindUser-valid-item-ipt {
  border: 0;
  text-align: right;
  font-size: 16px;
  -webkit-appearance: none;
}

/*绑定用户 end*/

/*联系我们*/

.Contact-list {

}

.Contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px 20px 22px;
  border-bottom: 1px solid #ddd;
  .iconfont {
    font-size: 28px;
    color: #55ABEE;
    transform: rotateY(180deg);
    display: inline-block;
  }
}

.Contact-item-portrait {
  width: 44px;
  height: 44px;
  margin-right: 16px;
}

.Contact-item-cnt {
  display: flex;
  align-items: center;
  .title {
    font-size: 17px;
    color: #333;
    line-height: 24px;
  }
  .tel {
    font-size: 14px;
    color: #999;
    line-height: 20px;
  }
}

/*联系我们 end*/
