@charset "UTF-8";
.app {

}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-both {
  clear: both;
}

.dis-none {
  display: none;
}

.dis-none-imp {
  display: none !important;
}

.dis-block {
  display: block;
}

.dis-block-imp {
  display: block !important;
}

.dis-inline {
  display: inline;
}

.dis-inline-imp {
  display: inline !important;
}

.dis-ib {
  display: inline-block;
}

.dis-ib-imp {
  display: inline-block !important;
}

.dis-table {
  display: table;
}

.dis-cell {
  display: table-cell;
}

.pseudo-clear:after {
  clear: both;
  display: block;
  content: '';
}

.pseudo-clear:before {
  clear: both;
  display: block;
  content: '';
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pos-rl {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.underline {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-left-imp {
  text-align: left !important;
}

.val-middle {
  vertical-align: middle;
}

.val-top {
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}

.lh100per {
  line-height: 100%;
}

.all-border-box * {
  box-sizing: border-box;
}

.confirm-btn-mg {
  margin-right: 14px;
}

.align-middle-imp {
  vertical-align: middle !important;
}

.text-right-imp {
  text-align: right !important;
}

.text-left-imp {
  text-align: left !important;
}

.cm-a {
  color: #6d6dfe;
}

/*margin*/
.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt27 {
  margin-top: 27px;
}

.mr28 {
  margin-right: 28px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml10 {
  margin-left: 10px;
}

.ml28 {
  margin-left: 28px;
}

/*margin end*/

/*width*/
.w50per {
  width: 50%;
}

/*width end*/

/*padding*/
.pr19 {
  padding-right: 19px;
}

.pr28 {
  padding-right: 28px;
}

.pb18 {
  padding-bottom: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl28 {
  padding-left: 28px;
}

.pl52 {
  padding-left: 52px;
}

/*padding end*/

/*border*/
.bordTB6 {
  border-top: 6px solid #EFEEF5;
  border-bottom: 6px solid #EFEEF5;
}

/*border end*/

/*公共*/
.jpm-main {
  padding: 21px;
}

.jpm-spacer {
  width: 100%;
  height: 6px;
  background: #EFEEF5;
}

.h-btn-primary {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: #55ABEE;
  height: 47px;
  line-height: 47px;
  text-align: center;
}

.header-bg-type01 {
  width: 100%;
  height: 106px;
}

/*公共 end*/

/*公共组件*/
//纸
.HPaper {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(148, 174, 218, 1);
  padding-bottom: 27px;
}

.HPaper-head-transition {
  width: 100%;
  height: 20px;
  background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(197, 225, 244, 1) 100%);
}

.HPaper-head-handle {
  position: absolute;
  width: calc(100% + 12px);
  height: 5px;
  top: -5px;
  left: -6px;
  background: #306CCA;
  border-radius: 3px;
}

.HPaper-foot {
  position: absolute;
  bottom: -6.5px;
  height: 6.5px;
  font-size: 0;
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 6.5px;
  }
}

//checklist
.HChecklist {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-right: 2px;
  padding-bottom: 11px;
  padding-left: 7px;
  border-bottom: 1px solid #DDD;
  .vux-check-icon > .weui-icon-success-circle:before,
  .vux-check-icon > .weui-icon-success:before {
    color: #5E8CF8;
  }
  &.sucesss {
    .vux-check-icon > .weui-icon-success-circle:before,
    .vux-check-icon > .weui-icon-success:before {
      color: #09bb07;
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    .HChecklist-cnt {
      margin-left: 0;
    }
    .vux-check-icon {
      margin-left: 10px;
    }
  }
  [class*=" weui-icon-"]:before {
    margin-left: 0;
    margin-right: 0;
  }
}

.HChecklist-cnt {
  flex-grow: 1;
  color: #333;
  font-size: 14px;
  margin-left: 19px;
}

//按钮
.HButton {
  background: #5E8CF8;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
}

/*公共组件 end*/

/*缴费首页*/
.PaymentHome {
  .header-bg-type01 {
    position: absolute;
    z-index: -1;
    top: 0;
  }

}

.PaymentHome-main {
  margin-top: 26px;
  padding-left: 18px;
  padding-right: 18px;
}

.PaymentHome-cnt {
  text-align: center;
  img {
    margin-top: 46px;
    width: 190px;
    height: 162px;
  }
}

.PaymentHome-cnt-prompt {
  color: #666;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 14px;
  margin-bottom: 21px;
}

.Payment-button {
  width: 140px;
  height: 30px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  background: #5E8CF8;
  border-radius: 20px
}

.PaymentHome-checklist {
  margin-top: 36px;
  padding-right: 13px;
  padding-left: 13px;
  .weui-cell__bd {
    color: #333;
    font-size: 14px;
  }
  .weui-cells_checkbox {
    .weui-check:checked + .vux-checklist-icon-checked:before {
      color: #5E8CF8;
    }
    .weui-check:checked + .weui-icon-checked:before {
      color: #5E8CF8;
    }
  }
}

.Payment-checklist {
  .weui-cell__bd {
    color: #333;
    font-size: 14px;
  }
  .weui-cells_checkbox {
    .weui-check:checked + .vux-checklist-icon-checked:before {
      color: #5E8CF8;
    }
    .weui-check:checked + .weui-icon-checked:before {
      color: #5E8CF8;
    }
  }
  .weui-cells:after,
  .weui-cells:before,
  .weui-cell:before {
    display: none;
  }
  .weui-cell {
    border-bottom: 1px solid #DDD;
    padding: 18px 9px 11px 9px;
  }
}

/*缴费首页 end*/

/*缴费步骤2*/

.PaymentDetail-head {
  display: flex;
  align-items: center;
  height: 86px;
  border-bottom: 6px solid #EFEEF5;
  img {
    width: 40px;
    height: 40px;
    margin-left: 36px;
  }
  p {
    color: #333;
    font-size: 20px;
    margin-left: 28px;
  }
}

.PaymentDetail-address {
  padding-top: 23px;
  padding-left: 18px;
  padding-right: 18px;
  background: url('~@/assets/img/Bitmap@2x(1).png');
  background-size: 100% 106px;
  background-repeat: no-repeat;
  min-height: 175px;
  border-bottom: 6px solid #EFEEF5;
}

.PaymentDetail-cnt {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  .name {
    font-size: 16px;
    color: #999;
    margin-right: 19px;
    flex-shrink: 0;
  }
  .val {

  }

}

.PaymentDetail-checklist {
  padding-top: 10px;
  padding-right: 22px;
  padding-left: 22px;
  .weui-cell {
    padding-right: 1px;
    padding-left: 0;
  }
}

.PaymentDetail-footer {
  position: fixed;
  display: flex;
  align-items: stretch;
  bottom: 0;
  width: 100%;
  height: 54px;
}

.PaymentDetail-footer-total {
  flex-grow: 1;
  background: #EFEEF5;
  border-top: 1px solid #D7D7D7;
  padding-top: 14px;
  text-align: center;
  &-word {
    color: #666;
    font-size: 14px;
  }
  &-money {
    color: #5E8CF8;
    font-size: 24px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.PaymentDetail-footer-btn {
  width: 142px;
  flex-shrink: 0;
  background: #5E8CF8;
  color: #fff;
  font-size: 20px;
}

.PaymentDetail-checklist-cnt {
  display: flex;
  justify-content: space-between;
}

/*缴费步骤2 end*/

/*支付渠道*/

.PaymentChannel-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 31px;
  padding-right: 26px;
  padding-bottom: 22px;
  padding-left: 22px;
  border-bottom: 6px solid #EFEEF5;
}

.PaymentChannel-prompt {
  font-size: 18px;
  color: #666;
}

.PaymentChannel-money {
  color: #5E8CF8;
  font-size: 30px;
  line-height: 24px;
}

.PaymentChannel-moneyUnit {
  margin-left: 9px;
  color: #333;
  font-size: 14px;
}

.PaymentChannel-checklist {
  padding-top: 13px;
  padding-left: 24px;
  padding-right: 17px;
  .HChecklist {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.PaymentChannel-checklist-cnt {
  display: flex;
  .iconfont {
    font-size: 24px;
    color: #00C802;
  }
  p {
    margin-left: 30px;
    font-size: 18px;
    color: #666;
  }
}

.PaymentChannel-btn-par {
  margin-top: 53px;
  text-align: center;
}

/*支付渠道 end*/

/*支付成功*/

.PaymentSucess-head {
  height: 293px;
  background: url('~@/assets/img/payment-success.png') no-repeat;
  background-size: 100% 236px;
  border-bottom: 6px solid #EFEEF5;
}

.PaymentSucess-head-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  text-align: center;
  color: #fff;
  .iconfont {
    font-size: 30px;
    margin-right: 18px;
  }
  p {
    font-size: 22px;
  }
}

.PaymentSucess-items {
  padding-right: 13px;
  padding-left: 13px;
}

.PaymentSucess-btn-par {
  margin-top: 30px;
  text-align: center;
}

/*支付成功 end*/

/*缴费历史*/
.PaymentHistoryList {
  .vux-tab {
    .vux-tab-item.vux-tab-selected {
      color: #5E8CF8;
      border-bottom: 2px solid #5E8CF8;
    }
  }
  .vux-tab-bar-inner {
    background: #5E8CF8;
  }
}

.PaymentHistoryList-tab {
  border-bottom: 6px solid #EFEEF5;
}

.PaymentHistoryList-main {
  padding-right: 13px;
  padding-left: 13px;
}

.PaymentHistoryList-query {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.PaymentHistoryList-query-item {
  display: flex;
  align-items: center;
  float: right;
  color: #666;
  font-size: 12px;
  .icon-rili {
    font-size: 18px;
    color: #3778FF;
  }
  .icon-jiantou9 {
    font-size: 12px;
    color: #666;
    &::before {
      display: inline-block;
      transform: scaleX(.6);
    }
  }
  span {
    margin-left: 6px;
    margin-right: 4px;
  }
}

.PaymentHistoryList-body {
  margin-top: 14px;
}

.PaymentHistoryList-item {
  padding: 12px 6px;
  border-bottom: 1px solid #ddd;
  &:first-child {
    border-top: 1px solid #ddd;
  }
}

.PaymentHistoryList-item-money {
  line-height: 37px;
  color: #5E8CF8;
  font-size: 26px;
  span {
    color: #999;
    font-size: 14px;
    margin-left: 10px;
  }
}

.PaymentHistoryList-item-common {
  margin-top: 3px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
}

.PaymentHistoryList-item-common-name {
  & + .PaymentHistoryList-item-common-name {
    margin-left: 8px;
  }
}

/*缴费历史 end*/

/*信息上墙*/

.InformationWallList-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 13px;
  padding-left: 34px;
  width: 100%;
  height: 77px;
  background: url('~@/assets/img/Bitmap@2x(1).png');
  background-size: 100% 77px;
}

.InformationWallList-head-title {
  font-size: 20px;
  color: #fff;
}

.InformationWallList-head-btn {
  width: 109px;
  height: 26px;
  background: #fff;
  color: #3582FF;
  font-size: 16px;
  border-radius: 13px;
}

.InformationWallList-cnt {
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

.InformationWallList-item {
  display: flex;
  padding-top: 19px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.InformationWallList-item-portrait {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}

.InformationWallList-item-cnt {
  flex-grow: 1;
  padding-right: 13px;
}

.InformationWallList-item-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  .name {
    color: #333;
    font-size: 14px;
  }
  .time {
    color: #999;
    font-size: 12px;
  }
}

.InformationWallList-item-inf {
  color: #333;
  font-size: 14px;
  text-indent: 2em;
  line-height: 20px;
  word-break: break-all;
}

.InformationWallList-item-img {
  max-width: 100%;
}

.InformationWallList-item-btm {
  width: 100%;
  margin-top: 10px;
  text-align: right;
  .iconfont {
    margin-right: 6px;
    color: #5E8CF8;
    font-size: 14px;
  }
  .count {
    color: #999;
    font-size: 12px;
  }
}

/*信息上墙 end*/

/*信息上墙-发布*/

.InformationWallForm-btn-par {
  margin-top: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

/*信息上墙-发布 end*/

/*通知列表*/

.Notice-list {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  .HNotice-item {
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }
  .HNotice-btm {
    // padding-left: 37px;
    // padding-right: 29px;
  }
}
/*通知列表 end*/
